# Docker
.dockerignore
Dockerfile

# Git
.git
.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pre-commit
.pre-commit-config.yaml

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# Docs
*.md

# macOS
**/.DS_Store

# Local env file
**/.env